            <li><span style="color:#aaa"><%= t['closed_on'] %></span>
              <span style="font-style:italic;color:#555"><%= t['title'] %></span>
              <span style="color:#aaa"><%= t['tagstring'] %></span>
              <span style="color:#037">(<%= t['est'] %>)</span>
            </li>