            <li><span class="bullet">✔</span> <span class="date"><%= t['closed_on'] %></span>
              <span class="title" style="font-style:italic"><%= t['title'] %></span>
              <span class="tagstring"><%= t['tagstring'] %></span>
              <span class="estimate">(<%= t['est'] %>)</span>
            </li>