<hr/>
<div style="display:flex;justify-content:space-between;width:100%">
<p style="font-size:smaller;">Made with ♥ by <a target="_blank"
href="https://github.com/arkadianriver/hqtodo">hqtodo</a>,<br/>
Mermaid, ApexCharts, autoComplete.js,<br/>and other fine modules.<br/>
An <a href="/doc" target="_blank">API</a> is also available.
</p>
<p style="font-size:smaller">Page last updated:<br/><%= pageupdated %><br/>Task file last updated:<br/><%= fileupdated %></p>
</div>
